.projects {
   background-color: var(--color-bg-alt);
   border-radius: 12px;
   padding: 30px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

   &__title {
      font-size: 24px;
      font-weight: 700;
      color: var(--color-text);
      text-align: center;
      margin-bottom: 15px;
   }

   &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 25px;
   }
}

.project-card {
   display: flex;
   flex-direction: column;

   background-color: var(--color-bg);
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
   transition: transform 0.3s ease, box-shadow 0.3s ease;

   cursor: pointer;

   &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
   }

   &__img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      padding: 15px;
      border-radius: 7px;
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 7px;
      flex-grow: 1;
   }

   &__title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      color: var(--color-text);
   }

   &__desc {
      font-size: 15px;
      line-height: 1.5;
      color: var(--color-muted);
      margin-bottom: 9px;
      text-align: center;
   }

   &__btn {
      display: flex;
      text-decoration: none;
      margin-top: auto;

      &:hover {
         color: var(--color-bg-alt);
      }
   }
}
