.button {
   display: flex;
   align-self: center;
   background-color: var(--color-hover);
   text-decoration: none;
   color: var(--color-bg-alt);
   border: none;
   border-radius: 8px;
   padding: 10px 20px;
   font-weight: 500;
   cursor: pointer;
   transition: background 0.3s ease;

   &:hover {
      background-color: var(--color-muted);
      color: var(--color-bg-alt);
   }
}