@use "../mixins" as mix;
@use "../media" as media;

.footer {
   @include mix.flex-center;

   max-height: 75px;
   height: 100%;

   margin-top: auto;
   padding-block: 10px;

   background-color: var(--color-section);


   &__menu {
      @include mix.flex-center;
      @include media.media(1200) {
         row-gap: 0;
      }

      flex-direction: column;
      row-gap: 5px;
   }

   &__link {
      @include mix.flex-center;

      max-height: 20px;
      height: 100%;
   }
}