@use "../mixins" as mix;

.header{
	isolation: isolate;
   position: sticky;
   top: 0;
   z-index: 100;
   height: 80px;
   padding-block: calc(10px + env(safe-area-inset-top)) 10px;
   background-color: var(--color-section);

   &-wrapper {
      @include mix.flex-center;
      flex-direction: column;

      height: 100%;
   }
}