@use "../mixins" as mix;

.resume {
  display: flex;
  border-radius: 12px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  &__image{
   @include mix.square(200);

   object-fit: cover;
   border-radius: 12px;
   border: 2px solid var(--color-border);
  }

  &-info {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding-inline: 20px;
  }

  &-wrapper {
   display: flex;
   flex-direction: column;
   align-items: end;
   justify-content: space-between;
   gap: 15px;
   max-width: 500px;
   p {
      font-size: 18px;
      text-align: center;
      line-height: 1.5;
      color: var(--color-text);
      margin: 0;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}