:root {
  --color-scheme: light dark;

  --color-bg: #f3eee7;
  --color-bg-alt: #ffffff;
  --color-primary: #b1630d;
  --color-accent: #a23b72;
  --color-hover: #3b3a36;
  --color-muted: #55534e;
  --color-section: #d9cfc3;
  --color-dark: #000;

  --font-family: 'Montserrat', sans-serif;

  --link-height: 20px;

  --fs-logo: clamp(24px, 1rem + 2.2vw, 32px);
  --fs-h1: clamp(26px, 1.2rem + 2vw, 34px);
  --fs-h2: clamp(20px, 1rem + 1.2vw, 24px);
  --fs-base: 16px;
}
