:root {
  --color-bg: #f3eee7;
  --color-bg-alt: #ffffff;
  --color-primary: #d98324;
  --color-accent: #a23b72;
  --color-hover: #3b3a36;
  --color-muted: #efd6b4;
  --color-border: #d1c7b7;

  --font-family: 'Montserrat', sans-serif;

  --link-height: 20px;
}
